/********* Home *********/

/* projects projects */
.proj {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    /* margin-bottom: 2rem; */
}

.proj > hr {
    display: none;
}

.clipart {
    flex-shrink: 0;
    margin: 0 1.5rem;
}

.clipart > img {
    width: 135px;
    height: 135px;
}

@media screen and (max-width: 600px) {
    .clipart > img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 460px) {
    .proj {
        flex-direction: column-reverse;
    }
    .proj > hr {
        margin-top: 0.3rem;
        margin-bottom: 0;
        display: block;
    }
    .clipart {
        margin: auto;
        margin-top: 10px;
    }
}

.text h2 > a, .text h3 > a {
    color: #313131;
}

.text > p {
    margin-bottom: 0;
}