:root {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 4.2rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

/* For disabling that outline around input boxes */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* For disabling that blue highlight on links */
input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ctnr {
    padding: 3rem 2.5rem;
}

body {
    background-color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 1.025rem;
}

p {
    margin: 0.5rem 0;
    letter-spacing: 0.015rem;
    line-height: 1.6rem;
}

ul, ol {
    line-height: 1.6rem;
}

h1 {
    font-size: 2em;
}

h1, h2 {
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    margin: 1.2em 0 0.8em;
    letter-spacing: 0.015em;
}

h3 {
    margin: 1em 0 0.7em;
    font-size: 1.17em;
}

h1.title {
    margin-bottom: 1.2em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3e54cf;
}

a:hover {
    text-decoration: underline;
}

/* Navigation */

nav {
    position: sticky;
    font-size: 1.2em;
    top: 0;
}

/* Nav bar on top */
#nav-bar {
    top: 0;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    padding: .2rem;
    border-radius: 0 0 0 0.8rem;
    background-color: #252525;
    height: 3rem;
}

/* Nav items within nav bar */
#nav-colapse-items {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

#nav-colapse-items li {
    display: inline-block;
    list-style-type: none;
    margin-left: 2.5rem;
}

#nav-colapse-items a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

#nav-colapse-items a:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

/* Nav items within expanded nav */
#nav-exp-items {
    width: 100%;
    background-color: #252525;
    position: absolute;
    padding-bottom: 0.5em;
    border-radius: 0 0 0 0.8rem;
}

#nav-exp-items li {
    list-style-type: none;
    margin-bottom: 1rem;
}

#nav-exp-items a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

#nav-exp-items a:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.hidden {
    display: none;
}

button.menu {
    background-color: transparent;
    border: none;
    border-radius: .275rem;
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 0.2rem;
    padding: 0.4rem;
}

button.menu path, button.menu g {
    fill: rgb(255, 255, 255);
}

button.menu:active {
    background-color: #0f0f0f;
}

@media screen and (max-width: 550px){
    #nav-colapse-items {
        display: none;
    }

    button.menu {
        display: block;
    }
}

@media screen and (min-width: 550px) {
    #nav-colapse-items {
        display: flex;
    }

    button.menu {
        display: none;
    }

    #nav-bar {
        border-radius: 0 0 0 0.8rem;
    }

    #nav-exp-items {
        display: none;
    }
}

/* Greet div */

.greet {
    background-color: transparent;
    padding: 1.5rem 2rem 1rem;
    text-align: center;
    font-size: 1.1rem;
}

h1.profile-name {
    color: #fff;
    margin: 0 0 0.8rem;
    font-size: 2.1rem;
}

div.greet p {
    color: #efefef;
    margin: 0 0 0.8rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Profile picture */
div.pp {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin: 0 auto 1rem;
    box-shadow: 0 0 4px 1px #0a0a0a;
}

div.social {
    margin: 0 0 0.8rem;
    display: flex;
    justify-content: center;
}

div.social svg {
    /* fill: #2e2e2e; */
    fill: #eee;
    width: 1.5em;
    height: 1.5em;
    margin: 0px 5px;
}

div.social a:active svg {
    fill: #ffffff;
}

/* Main */
main {
    border-radius: 0 0.8rem 0.8rem 0;
    margin-right: 0.3rem;
    background-color: #f3f3f3;
}

/* Footer */
footer {
    padding: 1.5rem 1rem;
    margin: auto;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 4rem;
    background-color: transparent;
    color: #ededed;
    text-align: center;
}

/* Home */
[id^="section-"] a {
    color: black;
}

[id^="section-"] a:hover {
    text-decoration: underline;
}

/* Posts in home */

.wnew {
    margin-bottom: 1.5rem;
}

.wnew h3 {
    margin-bottom: 0.8em;
}

hr {
    height: 1px;
    width: 70%;
    color: rgb(207, 204, 204);
    margin: 1.5rem auto 2rem;
}

/* Featured projects */
.proj {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.proj > hr {
    display: none;
}

.clipart {
    flex-shrink: 0;
    margin: 0 1.5rem;
}

.clipart > img {
    width: 135px;
    height: 135px;
}

@media screen and (max-width: 600px) {
    .clipart > img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 460px) {
    .proj {
        flex-direction: column-reverse;
    }
    .proj > hr {
        margin-top: 0.3rem;
        margin-bottom: 0;
        display: block;
    }
    .clipart {
        margin: auto;
        margin-top: 10px;
    }
}

.text > h2, h3 {
    margin-top: 0;
}

.text h2 > a, .text h3 > a {
    color: #313131;
}

.text > p {
    margin-bottom: 0;
}


/* Contact form */

form.form-control {
    width: 85%;
    margin: auto;
}


div.inp-name {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
}

div.inp-name > div {
    flex: 1;
}

div.inp-name > div:first-child {
    margin: 0;
    margin-right: 1rem;
}

form.form-control > div {
    margin-bottom: 0.8rem;
}

form.form-control input, form.form-control textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-top: 0.35rem;
    padding: 0.45rem 0.75rem;
    border: none;
    background-color: #dadada;
    display: block;
}

form.form-control input {
    border-bottom: 2px solid transparent;
}

form.form-control textarea {
    border: 2px solid transparent;
}

form.form-control input:focus {
    background-color: #fff;
    border-bottom: 2px solid rgb(45, 80, 194);
}

form.form-control textarea:focus {
    background-color: #fff;
    border: 2px solid rgb(46, 90, 235);
}

form.form-control input {
    width: 100%;
}

form.form-control textarea {
    resize: vertical;
    width: 100%;
}

form.form-control button {
    padding: 0.4rem 0.6rem;
    margin: 0.4rem auto;
    font-size: 1.05rem;
    border-color: transparent;
    background-color: #c4c4c4;
}

form.form-control button:focus {
    background-color: #afadad;
}

form.form-control button:hover {
    background-color: #b3b3b3;
}

form.form-control button:active {
    background-color: #979797;
    box-shadow: 0 0 5px 1px #666666;
}

@media screen and (max-width: 600px) {
    .form-control {
        width: 100%;
    }
    div.inp-name {
        flex-direction: column;
    }
    div.inp-name > div:first-child {
        margin: 0 0 0.8rem;
    }

    textarea, input {
        width: 100%;
    }
}

div#todo {
    width: 30%;
    min-width: 256px;
    margin: auto;
}

/* Todo */
div#todo > img {
    width: 100%;
}

/* Grid layout */

@supports(display: grid) {
    @media screen and (min-width: 925px) {
        .grid-container {
            display: grid;
            grid-template-areas: 
                "nul nv"
                "grt mn"
                "ftr mn";
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 3rem minmax(530px - 7rem, 1fr) 4rem;
        }
        
        .greet {
            grid-area: grt;
            vertical-align: bottom;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        nav {
            grid-area: nv;
        }
    
        nav #nav-bar {
            border-radius: 0 0 0 0.8rem;
        }
        
        main {
            grid-area: mn;
            border-radius: 0.8rem 0 0;
            margin: 0;
            height: calc(100vh - 3rem);
            min-height: 530px;
            overflow-y: scroll;
            scroll-behavior: smooth;
            scroll-padding-top: 1.2rem;
        }
        
        footer {
            grid-area: ftr;
        } 
    }
}
@supports not(display: grid) {
    main {
        width: 70%;
        margin: auto;
    }
    
    @media screen and (max-width: 700px) {
        main {
            width: 100%;
        }
    }
}
