{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block main %}

<header class="head-container hero">
    <h1 class="hero-heading" id="section-hero"><a href="#section-hero">Hello!</a></h1>

    <p class="hero-description">I'm Chandrashekhar, a software developer and engineer who likes making projects from scratch and learning new technologies. I'm a computer science student pursuing B. Tech. from <a href="https://www.nitap.ac.in/" target="_blank" rel="noreferrer">NIT Arunachal Pradesh</a>. I like pop music, coding, sketching and shooting photos.
    <br><br>
    This is the spot for finding my projects and articles I share with the world &#128518;</p> 
</header>

<section class="container">
    <div class="images">
        <div class="image">
            <img src="./static/media/square/1.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/2.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/3.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/4.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/5.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/6.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/7.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/8.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/9.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/10.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/11.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/12.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/13.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/14.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/15.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/16.jpg" alt="image">
        </div>
        
    </div>
</section>

<section class="container">
    <h2 id="section-h1"><a href="#section-h1">Skills</a></h2>

    <div class="skills-section">
        <div class="category">
            <ul id="skill-category">
                <li id="skill" class="active">All</li>
                <li id="linux">Linux</li>
                <li id="prog">Programming languages</li>
                <li id="script">Scripting languages</li>
                <li id="web">Web</li>
                <li id="vcs">Version control</li>
                <li id="db">Database</li>
                <li id="framework">Web frameworks</li>
                <li id="frontend">Frontend frameworks</li>
            </ul>
        </div>
        <div id="skills" class="skills">
            <p class="skill linux">
                <img src="media/icons/linux.svg" role="presentation">
                Linux
            </p>
            <p class="skill prog">
                <img src="media/icons/cpp.svg" role="presentation">
                C/C++
            </p>
            <p class="skill script">
                <img src="media/icons/python.svg" role="presentation">
                Python
            </p>
            <p class="skill prog">
                <img src="media/icons/java.svg" role="presentation">
                Java
            </p>
            <p class="skill web">
                <img src="media/icons/html.svg" role="presentation">
                HTML/CSS
            </p>
            <p class="skill script web">
                <img src="media/icons/javascript.svg" role="presentation">
                JavaScript
            </p>
            <p class="skill script">
                <img src="media/icons/powershell.svg" role="presentation">
                Powershell
            </p>
            <p class="skill script web">
                <img src="media/icons/typescript.svg" role="presentation">
                TypeScript
            </p>
            <p class="skill script linux">
                <img src="media/icons/bash.svg" role="presentation">
                Bash
            </p>
            <p class="skill web">
                <img src="media/icons/markdown.svg" role="presentation">
                Markdown
            </p>
            <p class="skill vcs">
                <img src="media/icons/git.svg" role="presentation">
                Git
            </p>
            <p class="skill db">
                <img src="media/icons/cpp.svg" role="presentation">
                SQL
            </p>
            <p class="skill db">
                <img src="media/icons/firebase.svg" role="presentation">
                Firebase
            </p>
            <p class="skill web framework">
                <img src="media/icons/django.svg" role="presentation">
                Django
            </p>
            <p class="skill web framework">
                <img src="media/icons/nodejs.svg" role="presentation">
                NodeJS
            </p>
            <p class="skill web framework">
                <img src="media/icons/flask.svg" role="presentation">
                Flask
            </p>
            <p class="skill web frontend">
                <img src="media/icons/angular.svg" role="presentation">
                Angular
            </p>
            <p class="skill web frontend">
                <img src="media/icons/react.svg" role="presentation">
                React
            </p>
        </div>
    </div><br>
    <p>Contact me at <a href="mailto:tripathics@outlook.com">tripathics@outlook.com</a>.</p>
</section>

<section class="container">
    <div class="section-heading">
        <h2 id="section-h2"><a href="#section-h2">What's new</a></h2>
        <a class="button" href="./posts">View all</a>
    </div>
    <div class="home-posts">
        <article class="card">
            <time>Jul 7, 2022</time>
            <h3><a href="./python-for-c-programmers">Python for C programmers</a></h3>
            <div class="tags">
                <span class="tag">Python</span> 
                <span class="tag">Beginner</span>
            </div>
        </article>

        <article class="card">
            <time>Jun 5, 2022</time>
            <h3><a href="">My journey through Angular</a></h3>
            <div class="tags">
                <span class="tag">Front-end</span> 
                <span class="tag">TypeScript</span> 
                <span class="tag">Walkthrough</span> 
            </div>
        </article>

        <article class="card">
            <time>February 28, 2022</time>
            <h3><a href="">Introduction to Linux Terminal</a></h3>
            <div class="tags">
                <span class="tag">Command line</span> 
                <span class="tag">Terminal</span> 
                <span class="tag">Linux</span> 
            </div>
        </article>

        <article class="card">
            <time>January 27, 2022</time>
            <h3><a href="">Installing Arch Linux on a Virtualbox VM</a></h3>
            <div class="tags">
                <span class="tag">Linux</span> 
                <span class="tag">OS</span> 
                <span class="tag">VM</span> 
            </div>
        </article>
        
        <article class="card">
            <time>December 18, 2021</time>
            <h3><a href="">Creating a simple typing game webapp</a></h3>
            <div class="tags">
                <span class="tag">JavaScript</span> 
                <span class="tag">Events</span> 
                <span class="tag">API</span> 
            </div>
        </article>
        
        <article class="card">
            <time>August 17, 2020</time>
            <h3><a href="./first-coding-environment-setup">Setting up your first coding environment</a></h3>
            <div class="tags">
                <span class="tag">IDE</span> 
                <span class="tag">C</span> 
                <span class="tag">VSCode</span> 
            </div>
        </article>
    </div>
</section>

<section class="container">
    <div class="section-heading">
        <h2 id="section-h3"><a href="#section-h3">Featured projects</a></h2>
        <a class="button" href="./projects">View all</a>
    </div>
    
    <div class="home-projects">
        <article class="anchored card">
            <div class="image-wrapper">
                <img src="./static/media/typewriter-unsplash.webp" width="250" height="250" alt="Typewriter">
            </div>
            <div class="proj-desc">
                <time>2022</time>
                <h3><a href="https://github.com/tripathics/typing-game" target="_blank" rel="noreferrer">Typing Game</a></h3>
                <p>A typing game for desktop and mobile</p>
            </div>
            <div class="anchored links">
                <a target="_blank" href="https://github.com/tripathics/typing-game" class="button">Source</a>
                <a target="_blank" href="https://tripathics.github.io/typing-game" class="button">Demo</a>
            </div>
        </article>

        <article class="anchored card">
            <div class="image-wrapper">
                <img src="./static/media/todo-unsplash.webp" width="250" height="250" alt="Todo list">
            </div>
            <div class="proj-desc">
                <time>2021</time>
                <h3><a href="https://github.com/tripathics/typing-game" target="_blank" rel="noreferrer">Todo List</a></h3>
                <p>Todo list CLI app</p>
            </div>
            <div class="anchored links">
                <a target="_blank" href="https://github.com/tripathics/projects/tree/main/todo_list" class="button">Source</a>
            </div>
        </article>

        <article class="anchored card">
            <div class="image-wrapper">
                <img src="./static/media/filter-unsplash.webp" width="250" height="250" alt="Camera">
            </div>
            <div class="proj-desc">
                <time>2021</time>
                <h3><a href="https://github.com/tripathics/projects/tree/main/filter_more" target="_blank" rel="noreferrer">Filter</a></h3>
                <p>Apply filter to images from CLI</p>
            </div>
            <div class="anchored links">
                <a target="_blank" href="https://github.com/tripathics/projects/tree/main/filter_more" class="button">Source</a>
            </div>
        </article>
        
        <article class="anchored card">
            <div class="image-wrapper">
                <img src="./static/media/dna-unsplash.webp" width="250" height="250" alt="DNA clipart">
            </div>
            <div class="proj-desc">
                <time>2021</time>
                <h3><a href="https://github.com/tripathics/projects/tree/main/filter_more" target="_blank" rel="noreferrer">dna.py</a></h3>
                <p>Identify people from their DNA sequence given a database</p>
            </div>
            <div class="anchored links">
                <a target="_blank" href="https://github.com/tripathics/projects/tree/main/dna" class="button">Source</a>
            </div>
        </article>
    </div>
</section>

<section class="container resume">
    <div class="section-heading">
        <h2 id="section-h4"><a href="#section-h4" >Resume</a></h2>
        <a class="button" href="./static/media/Chandrashekhar_Tripathi-resume.pdf" target="_blank">Download .pdf</a>
    </div>
    <div class="image-wrapper">
        <img src="./static/media/Chandrashekhar_Tripathi-resume.webp" alt="resume" width="925" height="1196">
    </div>
</section>

{% endblock %}