{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block main %}

<h1 id="section-h1"><a href="#section-h1">Hello!</a></h1>

<p>I am Chandrashekhar, a computer science student pursuing B. Tech. from <a href="https://www.nitap.ac.in/" target="_blank" rel="noreferrer">National Institute of Technology, Arunachal Pradesh</a>. I did my high school graduation from <a href="https://ghssrupa.co.in" target="_blank" rel="noreferrer">Govt. Hr. Sec. School, Rupa</a> in Arunachal Pradesh.</p>

<p>I am an artist, coder and an engineer. I enjoy learning technologies and using them to solve real world problems. Sometimes I write what I learnt in blogs. I also enjoy travelling and shooting photos. I doodle cartoons when I am not working &#128518;. </p>
<br>
<p>Technologies I currently work with</p>
<ul>
    <li>OSes: <span style="color: #332f7e;">Linux (Debian)</span></li>
    <li>Programming languages: <span style="color: #332f7e;">C, C++, Java</span></li>
    <li>Scripting languages: <span style="color: #332f7e;">Python, JavaScript, Bash</span></li>
    <li>Markup languages: <span style="color: #332f7e;">HTML, Markdown</span></li>
    <li>Version control: <span style="color: #332f7e;">Git</span></li>
    <li>Database: <span style="color: #332f7e;">SQL</span></li>
    <li>Frameworks: <span style="color: #332f7e;">Flask, NodeJS</span></li>
    <li>Designing: <span style="color: #332f7e;">CSS</span></li>
</ul>

<br>
<p>Contact me at <a href="mailto:tripathics@outlook.com">tripathics@outlook.com</a>.</p>


<h2 id="section-h2"><a href="#section-h2">What's new</a></h2>

<div class="wnew">
    <h3>Installing Arch Linux on a Virtualbox VM</h3>
    <p class="date"></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptas, iure distinctio nihil architecto atque veniam excepturi accusantium itaque esse! Praesentium recusandae sit at earum officiis et expedita ex vitae.</p>
    <p><a href="#">read more</a></p>
</div>

<div class="wnew">
    <h3>Creating a simple typing game webapp</h3>
    <p class="date"></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptate magni distinctio quis provident temporibus aliquam autem, officiis quam vitae corrupti laudantium enim.</p>
    <p><a href="#">read more</a></p>
</div>

<div class="wnew">
    <h3>Setting up the environment to learn to code for the first time</h3>
    <p class="date"></p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ullam. Blanditiis repudiandae tempore, assumenda, cumque alias consectetur dolore repellendus, vitae sapiente error perspiciatis soluta saepe!</p>
    <p><a href="#">read more</a></p>
</div>

<h2 id="section-h3"><a href="#section-h3">Featured projects</a></h2>

<article class="proj">
    <div class="clipart">
        <img src="./static/media/typing-game.png" alt="Typewriter clipart">
    </div>
    <div class="text">
        <h3><a href="https://tripathics.github.io/typing-game" target="_blank" rel="noreferrer">Typing Game</a></h3>
        <p>A typing website for both mobile and desktop made out of HTML, CSS and JavaScript.</p>
    </div>
</article>

<article class="proj">
    <div class="clipart">
        <img src="./static/media/dna.png" alt="DNA clipart">
    </div>
    <div class="text">
        <h3><a href="https://github.com/tripathics/projects/tree/main/filter_more" target="_blank" rel="noreferrer">dna.py</a></h3>
        <p>A Python CLI program to identify a person from the database given their DNA sequence.</p>
    </div>
</article>

<article class="proj">
    <div class="clipart">
        <img src="./static/media/todo.png" alt="Todo list clipart">
    </div>
    <div class="text">
        <h3><a href="https://github.com/tripathics/projects/tree/main/todo_list" target="_blank" rel="noreferrer">Todo List</a></h3>
        <p>A Python CLI program to create and manage your todo lists.</p>
    </div>
</article>

<p><a href="/projects">More projects</a></p>

{% endblock %}