{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block main %}

<header class="head-container hero">
    <h1 class="hero-heading" id="section-hero"><a href="#section-hero">Hello!</a></h1>

    <p class="hero-description">I'm Chandrashekhar, a computer science student pursuing B. Tech. from <a href="https://www.nitap.ac.in/" target="_blank" rel="noreferrer">NIT Arunachal Pradesh</a>. I like pop music, coding, sketching and shooting photos.
    <br><br>
    This is the spot for finding my projects and articles I share with the world &#128518;</p><br>  
</header>

<section class="container">
    <h2 id="section-h0"><a href="#section-h0">Interests</a></h2>
    <div class="images">
        <div class="image">
            <img src="/static/media/square/1.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/2.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/3.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/4.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/5.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/6.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/7.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/8.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/9.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/10.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/11.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/12.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/13.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/14.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/15.jpg" alt="image">
        </div>
        <div class="image">
            <img src="/static/media/square/16.jpg" alt="image">
        </div>
        
    </div>
    <br>
</section>

<section class="container">
    <h2 id="section-h1"><a href="#section-h1">Skills</a></h2>
    <ul>
        <li>OSes: <span style="color: #332f7e;">Linux</span></li>
        <li>Programming languages: <span style="color: #332f7e;">C, C++, Java</span></li>
        <li>Scripting languages: <span style="color: #332f7e;">Python, TypeScript, JavaScript, Bash</span></li>
        <li>Markup languages: <span style="color: #332f7e;">HTML, Markdown</span></li>
        <li>Version control: <span style="color: #332f7e;">Git</span></li>
        <li>Database: <span style="color: #332f7e;">SQL, Firebase</span></li>
        <li>Backend Frameworks: <span style="color: #332f7e;">Django, NodeJS, Flask</span></li>
        <li>Frontend Frameworks: <span style="color: #332f7e;">Angular, React</span></li>
        <li>Designing: <span style="color: #332f7e;">CSS</span></li>
    </ul>
    <br>
    <p>Contact me at <a href="mailto:tripathics@outlook.com">tripathics@outlook.com</a>.</p>
</section>

<section class="container">
    <h2 id="section-h2"><a href="#section-h2">What's new</a></h2>
    <div class="posts">
        <article class="card">
            <time>Jul 1, 2022</time>
            <h3><a href="">My journey of learning React</a></h3>
            <div class="tags">
                <span class="tag">Front-end</span> 
                <span class="tag">React</span> 
                <span class="tag">Walkthrough</span> 
            </div>
        </article>

        <article class="card">
            <time>Jun 5, 2022</time>
            <h3><a href="">My journey through Angular</a></h3>
            <div class="tags">
                <span class="tag">Front-end</span> 
                <span class="tag">TypeScript</span> 
                <span class="tag">Walkthrough</span> 
            </div>
        </article>

        <article class="card">
            <time>February 28, 2022</time>
            <h3><a href="">Introduction to Linux Terminal</a></h3>
            <div class="tags">
                <span class="tag">Command line</span> 
                <span class="tag">Terminal</span> 
                <span class="tag">Linux</span> 
            </div>
        </article>

        <article class="card">
            <time>January 27, 2022</time>
            <h3><a href="">Installing Arch Linux on a Virtualbox VM</a></h3>
            <div class="tags">
                <span class="tag">Linux</span> 
                <span class="tag">OS</span> 
                <span class="tag">VM</span> 
            </div>
        </article>
        
        <article class="card">
            <time>December 18, 2021</time>
            <h3><a href="">Creating a simple typing game webapp</a></h3>
            <div class="tags">
                <span class="tag">JavaScript</span> 
                <span class="tag">Events</span> 
                <span class="tag">API</span> 
            </div>
        </article>
        
        <article class="card">
            <time>August 17, 2020</time>
            <h3><a href="">Setting up a coding environment for first time coders</a></h3>
            <div class="tags">
                <span class="tag">IDE</span> 
                <span class="tag">C</span> 
                <span class="tag">VSCode</span> 
            </div>
        </article>
    </div>
</section>

<section class="container projects">
    <div class="section-heading">
        <h2 id="section-h3"><a href="#section-h3">Featured projects</a></h2>
        <a class="button" href="/projects">View all</a>
    </div>
    
    <article class="proj">
        <div class="clipart">
            <img src="./static/media/typing-game.png" alt="Typewriter clipart">
        </div>
        <div class="text">
            <h3><a href="https://tripathics.github.io/typing-game" target="_blank" rel="noreferrer">Typing Game</a></h3>
            <p>A typing website for both mobile and desktop made out of HTML, CSS and JavaScript.</p>
        </div>
    </article>
    
    <article class="proj">
        <div class="clipart">
            <img src="./static/media/dna.png" alt="DNA clipart">
        </div>
        <div class="text">
            <h3><a href="https://github.com/tripathics/projects/tree/main/filter_more" target="_blank" rel="noreferrer">dna.py</a></h3>
            <p>A Python CLI program to identify a person from the database given their DNA sequence.</p>
        </div>
    </article>
    
    <article class="proj">
        <div class="clipart">
            <img src="./static/media/todo.png" alt="Todo list clipart">
        </div>
        <div class="text">
            <h3><a href="https://github.com/tripathics/projects/tree/main/todo_list" target="_blank" rel="noreferrer">Todo List</a></h3>
            <p>A Python CLI program to create and manage your todo lists.</p>
        </div>
    </article>
</section>

<section class="container resume">
    <div class="section-heading">
        <h2 id="section-h4"><a href="#section-h4" >Resume</a></h2>
        <a class="button" href="static/media/Chandrashekhar_Tripathi-resume.pdf" target="_blank">Download .pdf</a>
    </div>
    <div class="image-wrapper">
        <img src="static/media/Chandrashekhar_Tripathi-resume.png" alt="resume">
    </div>
</section>

{% endblock %}