{% extends "layout.html" %}

{% block customStyle %}
    <link rel="stylesheet" href="static/post.css">
    <!-- highlightjs -->    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

    <link rel="alternate stylesheet" title="Github" href="styles/github.css">
    <script>hljs.highlightAll();</script>
{% endblock %}
{% block title %}Post{% endblock %}
{% block main %}

<header class="head-container">
    <h1 id="section-h0" class="title"><a href="#section-h0">HTML, CSS, JavaScript</a></h1>
</header>

<section class="container post-ctnr">

    <section class="post">
        {% block postSection %}
        {% endblock %}
    </section>
    <aside class="toc">
        <h2>In this article</h2>
        {% block toc %}
        {% endblock %}
    </aside>


</section>

{% endblock %}