{% extends "layout.html" %}

{% block customStyleScripts %}
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./static/projects1.css">
{% endblock %}

{% block title %}Projects |{% endblock %}
{% block main %}

<header class="head-container">
    <h1 id="section-p0" class="title"><a href="#section-p0">Projects</a></h1>
</header>

<section class="container projects">
    <article class="project">
        <img class="project-img" src="./static/media/projects/typing-game.jpg" alt="Typewriter">
        <div class="desc">
            <h2>Typing Game</h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
        </div>
    </article>

    <article class="project">
        <img class="project-img" src="./static/media/projects/typing-game.jpg" alt="Typewriter">
        <div class="desc">
            <h2>Typing Game</h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
        </div>
    </article>

    <article class="project">
        <img class="project-img" src="./static/media/projects/typing-game.jpg" alt="Typewriter">
        <div class="desc">
            <h2>Typing Game</h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
        </div>
    </article>

    <article class="project">
        <img class="project-img" src="./static/media/projects/typing-game.jpg" alt="Typewriter">
        <div class="desc">
            <h2>Typing Game</h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
        </div>
    </article>

    <article class="project">
        <img class="project-img" src="./static/media/projects/typing-game.jpg" alt="Typewriter">
        <div class="desc">
            <h2>Typing Game</h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
        </div>
    </article>

    <article class="project">
        <img class="project-img" src="./static/media/projects/typing-game.jpg" alt="Typewriter">
        <div class="desc">
            <h2>Typing Game</h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
        </div>
    </article>

    <article class="project">
        <img class="project-img" src="./static/media/projects/typing-game.jpg" alt="Typewriter">
        <div class="desc">
            <h2>Typing Game</h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
        </div>
    </article>

    
    
</section>

{% endblock %}